.app {
 display: flex;
 flex-direction: row;
}

.navbar{
  width:12%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  background-color: aqua;
  color:brown
}

.content{
  flex:1;
  overflow: auto;
}